
// bower:less
@import 'bootstrap/less/bootstrap';
// endbower

@font: "HelveticaNeue-UltraLight","Helvetica Neue UltraLight","Helvetica Neue",Arial,Helvetica,sans-serif;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: @font;
    font-weight: 100;
}

.jumbotron {
    position: relative;
    padding: 40px 0px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
    // background: linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0% 0% transparent;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2) inset, 0px -3px 7px rgba(0, 0, 0, 0.2) inset;

    &.masthead {
        padding: 70px 0px 80px;
        margin-bottom: 0px;
        color: #FFF;

        h1 {
            font-size: 120px;
            line-height: 1;
            letter-spacing: -2px;

            margin-top: 40%;

            color: #fff;
            font-family: @font;
            font-weight: 300;
            font-size: 72px;
        }

        h2, h3 {
            font-family: @font;
            font-weight: 300;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background: url('/images/band_cover.jpg') repeat scroll center center;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: 9% 55%;
            opacity: 0.8;
        }
    }

    &.masthead#release { &:after { 
        background: url('/images/release_cover.jpg') repeat scroll center center; 
        // background-position: 9% 55%;
        // opacity: 0.8;
    } }

    &.masthead#social { &:after { 
        background: url('/images/band_cover.jpg') repeat scroll center center; 
        // background-position: 9% 55%;
        // opacity: 0.8;
    } }
    
    .container {
        position: relative;
        z-index: 2;
    }
}

.facebooklike {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  height: 100px;
  border: none;
  overflow: hidden;
}

.rainbow {
    background:
        linear-gradient(
            45deg,
            rgba(105,94,127,1) 0%,
            rgba(255,92,92,1) 15%,
            rgba(255,160,17,1) 27%,
            rgba(252,236,93,1) 37%,
            rgba(255,229,145,1) 46%,
            rgba(111,196,173,1) 58%,
            rgba(106,132,186,1) 69%,
            rgba(209,119,195,1) 79%,
            rgba(216,213,125,1) 89%,
            rgba(216,213,125,1) 100%
        ),
        repeat scroll 0% 0% transparent;
}